
*{
margin: 0;
padding: 0;
box-sizing: border-box;

}
.content{
  min-height: 100%;
}
.head h1{
    color:#051241;
    font-style: 'Montserrat', sans-serif;
    font-size: 10px;
}
body{
    background:white ;
    font-family: 'Montserrat', sans-serif;
}
.wrapper{

    margin-top: 20%;
}
.wrapper h1{

    font-family:  'Montserrat', sans-serif;
    font-size: 50px;
    margin-bottom: 55px;
    text-align: center;
}
.faculty{

    display: flex;
    text-align: center;
    width:auto;
    justify-content: center;
    flex-wrap: wrap;
}
.faculty .staff{
    background: white;
    margin: 5px;
    margin-bottom: 50px;
    width: 300px;
    padding:20px;
    line-height: 20px;
    color: black;
    position: relative;
}
.faculty .staff h3{
    color: #051241;
    font-size: 25px;
    margin-top: 60px;
}
.faculty .staff p.about{
color: #051241;
font-size: 15px;
margin: 10px;
}
.faculty .staff .picture{

    width:100px;
    height:100px;
    border-radius: 50%;
    position:absolute;
    top: -50px;
    left: 50%;
    transform:translateX(-50%);
    background: white;

}
.faculty .staff .picture img{
    width:100px;
    height:100px;
    padding:10px;
    
}

  
  
  .intro{
    width: 100%;
    height: 40%;
    background:#051241;

}
  .intro .wallpaper img{
height: 80%;
width: 80%; 
display: block;
  margin-left: auto;
  margin-right: auto;
  
  }
  .summary p{

    font-style: 'Montserrat', sans-serif;
    font-size: 25px;
    margin-left: 15px;
  }
  .summary{
    height: 10px;
    width: 100%;
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    display: flex;
    flex-direction: column;
  }
  
  nav{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 10px;
  }
  nav a{
    color: black;
    background: white;
    display: block;
    display: flex;
    height: 50px;
    justify-content: center;
    background:transparent;
    align-items: center;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    transition: background 0.4s;
    font-size: 14px;
   
  }
  ul{
    width: 1200px;
  }
  
  li a:hover{
    background-color: wheat;
  }
  
  
  .logo{
    height: 50px;
  }
  
  nav ul{
    display: flex;
    list-style: none;    
  }
  
  nav li{
    width: 100%;
    text-align: center;
    position: relative;
  }
  
  
  .sin:hover .sub {
    display: flex;
    top: 0px;
  }
  
  
  
  .sub {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: white;
    width: 100%;
    margin-top: 50px;
  }
  
  .sach{
    align-self: center; 
  }
  
  .sach button{
    background-color: transparent;
    border: 0px;
    cursor: pointer;
  }
  *margin{
    margin: 0;
    padding:0;
    font-family: 'Montserrat', sans-serif;
}

.footer{
    width:100%;
    background: #051241;
    display:block;
    color:white;
    font-family:'Montserrat', sans-serif ;
}
.inner-footer{
    width:95%;
    margin: auto;
    padding: 30px 10px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
}
.footer-items{
 width:25%;
 padding:10px 20px;
 box-sizing: border-box;
 
}
.footer h1{
padding: 10px 0;
font-size: 25px;
color:white;
}
.footer-items p{
    color: white;
    font-size: 15px;
    text-align: justify;
    line-height: 30px;
}
.footer h2{
    margin:10px 0;
    color: white;
    font-size: 25px;

}
.footer .border{
    height: 2px;
    width: 40px;
    background:red;
}
.footer ul{
    list-style: none;
    font-size: 15px;
    color: white;
    letter-spacing: 0.5px;
}
.footer ul a{
    text-decoration: none;
    outline: none;
    color: white;
    transition: 0.3s;
}
.footer ul a:hover{
    color: red;

}
.footer ul li{
    margin:10px 0;
    height:25px;
}
.footer li i{
    margin-right: 20px;
}
.footer .social-media{
    width:100%;
    text-align: center;
    color: white;
}

.footer .social-media a {
    text-decoration: none;


}
.footer .social-media i{
    height: 15px;
    width: 15px;
    margin: 20px 5px;
    padding: 10px;
    color:white;
    
}
.footer .footer-bottom{
    padding:10px;
    color:white;
    background: #051241;
    font-size: 12px;
    
}
@media screen and (max-width:1085px){
    .footer-items{
        width: 50%;

    }
}
@media screen and (max-width:600px){
    .footer-items{
        width: 100%;

    }
}