*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


  .body-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background:#051241;
  }

  .writings{
    width: 500px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin-left: 80px;
    height: 350px;
   
  }

  /*.heading{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height:50px;
    background-color:#212F61;
    font-size:16px;
    color:white;
    font-family: 'Montserrat', sans-serif; 
    margin: 100px 250px 0 250px;
  }
  */
  
  h2{
    color: #051241;
    font-size: 25px;
  }
  .subhead-two, .subhead-one{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 100px;
  }
  

  .middle-container{
    
    background-color: #051241;
    background-size: 1550px;
    margin-top: 2px;
    height: 900px;
    background-position: bottom;
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    display: flex;
    flex-direction: column;
  }
  
  nav{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 10px;
  }
  nav a{
    color: black;
    background: white;
    display: block;
    display: flex;
    height: 50px;
    justify-content: center;
    background:transparent;
    align-items: center;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    transition: background 0.4s;
    font-size: 14px;
   
  }
  ul{
    width: 1200px;
  }
  
  li a:hover{
    background-color: wheat;
  }
  
  
  .logo{
    height: 50px;
  }
  
  nav ul{
    display: flex;
    list-style: none;    
  }
  
  nav li{
    width: 100%;
    text-align: center;
    position: relative;
  }
  
  
  .sin:hover .sub {
    display: flex;
    top: 0px;
  }
  
  .break{
    line-height: 1px;
  }
  
  .sub {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: white;
    width: 100%;
    margin-top: 50px;
  }
  
  .sach{
    align-self: center; 
  }
  
  .sach button{
    background-color: transparent;
    border: 0px;
    cursor: pointer;
  }
  *margin{
    margin: 0;
    padding:0;
    font-family: 'Montserrat', sans-serif;
}
.content{
    min-height: 100%;
}
.footer{
    width:100%;
    background: #051241;
    display:block;
    color:white;
    font-family:'Montserrat', sans-serif ;
   
}
.inner-footer{
    width:95%;
    margin: auto;
    padding: 30px 10px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
}
.footer-items{
 width:25%;
 padding:10px 20px;
 box-sizing: border-box;
 
}
.footer h1{
padding: 10px 0;
font-size: 25px;
color:white;
}
.footer-items p{
    color: white;
    font-size: 15px;
    text-align: justify;
    line-height: 30px;
}
.footer h2{
    margin:10px 0;
    color: white;
    font-size: 25px;

}
.footer .border{
    height: 2px;
    width: 40px;
    background:red;
}
.footer ul{
    list-style: none;
    font-size: 15px;
    color: white;
    letter-spacing: 0.5px;
}
.footer ul a{
    text-decoration: none;
    outline: none;
    color: white;
    transition: 0.3s;
}
.footer ul a:hover{
    color: red;

}
.footer ul li{
    margin:10px 0;
    height:25px;
}
.footer li i{
    margin-right: 20px;
}
.footer .social-media{
    width:100%;
    text-align: center;
    color: white;
}

.footer .social-media a {
    text-decoration: none;


}
.footer .social-media i{
    height: 15px;
    width: 15px;
    margin: 20px 5px;
    padding: 10px;
    color:white;
    
}
.footer .footer-bottom{
    padding:10px;
    color:white;
    background: #051241;
    font-size: 12px;
    
}
@media screen and (max-width:1085px){
    .footer-items{
        width: 50%;

    }
}
@media screen and (max-width:600px){
    .footer-items{
        width: 100%;

    }
}