*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    display: flex;
    flex-direction: column;
  }
  
  nav{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 10px;
  }
  nav a{
    color: black;
    background: white;
    display: block;
    display: flex;
    height: 50px;
    justify-content: center;
    background:transparent;
    align-items: center;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    transition: background 0.4s;
    font-size: 14px;
   
  }
  ul{
    width: 1200px;
  }
  
  li a:hover{
    background-color: wheat;
  }
  
  
  .logo{
    height: 50px;
  }
  
  nav ul{
    display: flex;
    list-style: none;    
  }
  
  nav li{
    width: 100%;
    text-align: center;
    position: relative;
  }
  
  
  .sin:hover .sub {
    display: flex;
    top: 0px;
  }
  
  
  
  .sub {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: white;
    width: 100%;
    margin-top: 5px;
  }
  
  .sach{
    align-self: center; 
  }
  
  .sach button{
    background-color: transparent;
    border: 0px;
    cursor: pointer;
  }